.team-members {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  .team-member {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;

    img {
      max-width: 100%;
    }

    @media (min-width: $min-desktop) {
      width: calc(100% / 3 - (64px / 3));
      max-width: calc(100% / 3 - (64px / 3));
      flex: 0 0 calc(100% / 3 - (64px / 3));
    }

    @media (min-width: 600px) and (max-width: $mobile-max){
      width: calc(100% / 2 - 16px);
      max-width: calc(100% / 2 - 16px);
      flex: 0 0 calc(100% / 2 - 16px);
    }
  }
}