{{ define "main" }}
{{ .Content }}
    <div class="team-members">
        {{ range .Pages }}
        <div class="team-member" style="order: {{ .Params.priority }}">

            {{ $image := resources.Get (.Params.portrait_image_path) }}
            {{ $image := $image.Resize "800x jpg q75 picture" }}
            {{ $imageWebp := $image.Resize "800x webp q75 picture" }}
            <picture>
                <source srcset="{{ $imageWebp.RelPermalink }}">
                <img src="{{ $image.RelPermalink }}" loading="lazy" alt="{{ .Params.name }} Portrait">
            </picture>

            <h2>{{ .Params.name }}</h2>
            {{ if .Params.function }}
            <p>{{ .Params.function }}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>
{{ end }}
